Role claim type should be "roles"

At https://github.com/IdentityModel/IdentityModel/blob/0f96912f747c0166bd653ed63d9055c33d5137f5/src/JwtClaimTypes.cs#LL157C21-L157C21 the claim "role" is defined. However, in the IANA JWT Claims registry there is "roles" instead of "role", with references to RFC7643, Section 4.1.2 and RFC9068, Section 2.2.3.1.

There is probably some history behind this, and the standardization of "roles" is a bit recent. But now that there is a standard "roles" claim it would be good to have it in this library along with the other standard claim types. Would it be a way forward to mark the current "role" claim type as deprecated and introduce a new "roles" claim type?